body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f8ff;
}

h1 {
    text-align: center;
}
div{
    align-items: center;
    background-color: #1f7d58;
    padding: 20px;
    border-radius: 20px;
    
}
input[type="text"] {
    width: 40%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    borborder-radius:10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #9588ab;
    color: white;
    border: none;
    border-radius: 20px;
}

button:hover {
    background-color: #531fad;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f4f4f4;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

li:hover {
    background-color: #e0e0e0;
}

li.completed {
    text-decoration: line-through;
    color: #888;
}

.delete-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
}

.delete-btn:hover {
    background-color: #cc0000;
}
